a {
  color: inherit;
  text-decoration: none;
}
i {
  cursor: pointer;
}
nav li {
  cursor: pointer;
}
:root {
  --animate-duration: 900ms;
  --animate-delay: 0.9s;
  overflow: hidden;
}
main {
  min-height: 100dvh;
  background-color: black;
  overflow: hidden;
}
.col-md-3 {
  overflow: hidden;
}
.animate__animated.animate__slideInUp {
  --animate-duration: 1s;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.side-nav {
  position: fixed;
  width: 320px;
  top: 0;
  bottom: 0;
  left: -220px;
  background-color: black;
}
.side-nav .right {
  height: 100%;
  width: 75px;
  background: white;
}

.layer {
  background-color: #f4efec97;
  position: absolute;
  display: flex;
  align-items: center;
  inset: 0;
  transform: translateY(105%);
  transition: transform 500ms;
  padding: 0 5px;
}
.content:hover .layer {
  transform: translateY(0);
}

.target-section ul li {
  font-size: 28px;
  font-weight: bold;
}
.col-md-3 .content {
  cursor: pointer;
}
.Recipes .items {
  font-size: 16px;
  font-weight: lighter;
  background-color: #cff4fc;
  color: #055192;
  width: fit-content;
  height: 30px;
  padding: 0 10px;
  margin-block: 3px;
  border-radius: 5px;
}

.tag {
  font-size: 18px;
  font-weight: lighter;
  width: fit-content;
  height: 30px;
  background-color: #f8d7da;
  color: #845495;
  padding: 0 5px;
  border-radius: 5px;
  margin-block: 3px;
}
.loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  z-index: 99999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-section .form-control {
  background-color: transparent;
  color: white;
}
.search-section .form-control::placeholder {
  color: grey;
}
.warning-message {
  background-color: #f8d7da;
  color: red;
  font-weight: lighter;
  text-align: center;
  display: none;
}
.loader {
  width: 160px;
  height: 185px;
  position: relative;
  background: #fff;
  border-radius: 100px 100px 0 0;
}
.loader:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 125px;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
  background-image: radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #000 48%, transparent 55%),
    radial-gradient(circle, #fff 30%, transparent 45%),
    radial-gradient(circle, #000 48%, transparent 51%),
    linear-gradient(#000 20px, transparent 0),
    linear-gradient(#cfecf9 60px, transparent 0),
    radial-gradient(circle, #cfecf9 50%, transparent 51%),
    radial-gradient(circle, #cfecf9 50%, transparent 51%);
  background-repeat: no-repeat;
  background-size: 16px 16px, 16px 16px, 10px 10px, 42px 42px, 12px 3px,
    50px 25px, 70px 70px, 70px 70px;
  background-position: 25px 10px, 55px 10px, 36px 44px, 50% 30px, 50% 85px,
    50% 50px, 50% 22px, 50% 45px;
  animation: faceLift 3s linear infinite alternate;
}
.loader:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 125px;
  left: -20%;
  top: 0;
  background-image: radial-gradient(circle, #fff 48%, transparent 50%),
    radial-gradient(circle, #fff 48%, transparent 50%);
  background-repeat: no-repeat;
  background-size: 65px 65px;
  background-position: 0px 12px, 145px 12px;
  animation: earLift 3s linear infinite alternate;
}

@keyframes faceLift {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-30%);
  }
}
@keyframes earLift {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
